body {
   margin: 0;
   padding: 0;
   background-color: transparent;
   overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.coffin-container {
   width: 640px;
   height: 480px;
   background: #2c2c2c;
   clip-path: polygon(100% 30%, 100% 70%, 25% 90%, 0 75%, 0 25%, 25% 10%);
   border: 4px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   user-select: none;
}

.p {
   font-family: 'MS Gothic';
   color: hotpink;
}